.post-container {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 1000px
}

.card-data {
  margin-left: 20px;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  align-items: flex-start;
}

.card-divider {
  margin-bottom: 10px;
  width: 100%;
  border-top: 1px solid #212121;
}

.card-title {
  font-size: -webkit-xxx-large;
  margin-top: 20px;
  display: flex;
}

.card-author {
  margin-top: 20px;
  font-size: larger;
  display: flex;
}